body {
    background-color: #ffffff;
    color: #141414;
    font-family: Georgia, serif;
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 25px;
    text-align: left;
}

.article-meta {
    font-size: 16px;
    color: #282625;
    letter-spacing: normal;
    margin-top: 30px;
    margin-bottom: -20px;
    font-family: Georgia, serif;
    text-align: right
}

.source {
    font-size: 16px;
    color: #282625;
    letter-spacing: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Georgia, serif;
    text-align: right
}

p {
    hyphens: auto;
    letter-spacing: normal;
    line-height: 1.6;
    font-size: 20px;
    text-align: left;
    font-family: emily, Georgia, serif;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    margin-top: 20px;
}

.quote {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f3e9e9;
    text-align: center;
}

.quote-bilingual {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}

.quote-language {
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.quote-language span {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
}

ul,
ol {
    padding-left: 30px;
    max-width: 65ch;
}

li {
    margin-bottom: 12px;
    line-height: 1.6;
    font-size: 18px;
}

.publication-meta {
    font-size: 15px;
    color: #777;
    margin-top: -10px;
}



@media (max-width: 600px) {

    body {
        padding: 30px 18px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
    }

    ul,
    ol {
        padding-left: 25px;
    }

    .quote-bilingual {
        flex-direction: column;
    }
}
